@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew&display=swap');

body{
    margin: 0;
    font-family: "Exo 2", sans-serif;
}

/* NAV BAR */

.menu{
    /* padding: 0; */
    display: flex;
    margin: 0;
    padding: 0 30%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: #538585;
    justify-content: center;
    height: 5vh;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    padding: 5px 20px;
    
}

.menu li{
    /* width: 50%; */
    /* height: 50%; */
    font-family: "Kaushan Script", cursive;
    font-weight: bold; 
    
}

.menu li :hover{
    transition: 0.2s;
    font-size: 25px;
    color: rgb(24, 110, 118);
    background-color: antiquewhite;
}

h2{
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ACCUEIL */

.banner{
    height: 400px;
    display: flex;
    justify-content: left;
    background-size: cover;
    background-image: url('https://lh3.googleusercontent.com/KAhhnrQQ78MtBWThKhF-3jBjBzAApasY2527JOSSGaCyDQlaJp6FbTCN6enMhnJny97o09kdef9weA=w2880-h1200-p-l90-rj');
    background-position: center;
    background-clip: text;
}

.banner-title {
    height: 800px;
    width: 100%;
    color: azure;
}

.banner-title h1{
    font-size: 2em;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: "Kaushan Script", cursive;
}

.banner-title h3{
    font-size: 10px;
    font-size: 25px;
    margin-left: 10% ;
    margin-top: 0;
}

/* BIOGRAPHY */

.biography{
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 20px;
    padding-bottom: 40px;
}

.biographie{
    display: flex;
    justify-content: center;
}

.biography-container{
    display: flex;
    align-items: center;
    width: 1000px;
}

.biography-container img{
    width: 20%;
    height: auto;
    margin-left: 20%;
    margin-right: 2%;
    border-radius: 100%;
}

.biography-container p{
    font-size: 20px;
    line-height: 30px;
}
span a{
    color: blue;
    font-size: 20px;
}

/* BIG BOX */

.big-box{
    display: flex;
    justify-content: space-between;
    background-color: #a1d0d0;
    flex-wrap: wrap;
}

/* DISCOGRAPHY */

.discography{
    padding-bottom: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.albums{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.general-box-left{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-end;
    width: 200px
}

.general-box-right{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

.discography-box{
    display: flex;
    align-items: center;
    justify-content: left;
    border-style: dashed;
    border-radius: 20px;
    background-color: antiquewhite;
    width: 400px;
    height: 190px;
    margin: 10px 20px;
}

.discography-box img{
    width: 35%;
    margin: 15px;
    border-style:groove;
    border-radius: 100%;
}

ul.text{
    margin: 0;
    padding: 5%;
}

/* SONGS/ */

.songs{
    display: flex;
    /* margin: 10%; */
    width: 20%;
    text-align: left;
    flex-direction: column;
    align-items: center;
}

.songs-container{
display: flex;
flex-direction: column;
align-items: center;
}

.songs-container a{
    display: flex;
    font-family: 'Noto Serif Hebrew', serif;
    font-size: large;
    padding-bottom: 30%;
    
}

/* AWARDS */

.awards{
    height: 600px;
    padding-bottom: 50px;
    background-color: antiquewhite;
}

.awards-awards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.prices{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.awards-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4%;
    background-color:#94b8b8;
    margin: 5px 40px;
    color: antiquewhite;
    flex-direction: column;
    width: 14%; 
    height: 450px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.323);
    color:black;
}

.awards img{
    display: flex;
    width: 150px;
    height: 150px;
    margin: 20px 20px;
    border-radius: 100%;
}

.awards-box ul{
    padding: 15px;
    list-style-type: none;
    font-size: large;
}

/* NEWSLETTER */

.newsletter{
    display: grid;
    margin-bottom: 50px;
}

.newsletter-container{
    display: grid;
    justify-items: center;
}

input#submit{
    margin: 10px;
    
}

/* LINK */

.social{
    padding: 0;
    display: flex;
    margin: 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: #94b8b8;
    justify-content: center;
    flex-direction: column;
}

.social-media{
    margin-bottom: 5%;
}

.social-media a{
    padding: 15px;
}
    
.social-media a :hover{
    height: "40px";
    transform: scale(1.5);
    transition: 0.1s;
}

/* FOOTER */

footer p{
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #1b5a5a;
    color: aliceblue;
    font-size: 15px;
}


/* @media screen and (max-width: 800px) { */

    /* .discography{
        padding-bottom: 50px;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .general-box-left{
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: flex-end;
        width: 200px;
    }
    
    .general-box-right{
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
    }

    .discography-box{
        display: flex;
        align-items: center;
        justify-content: left;
        border-style: dashed;
        border-radius: 20px;
        background-color: antiquewhite;
        width: 200px;
        height: 90px;
        margin: 5px 10px;
    }
    
    .discography-box img{
        width: 15%;
        margin: 15px;
        border-style:groove;
        border-radius: 100%;
    }

    .songs{
        display: flex;
        /* margin: 10%; */
        width: 20%;
        text-align: left;
        flex-direction: column;
        align-items: center;
        font-size: small;
    }
} */